/* GENERAL */

*,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: boreder-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  color: #fff;
}

header,
footer {
  height: 60px; 
}

main {
  height: calc(100vh - 120px);
  overflow: auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  color: #999999;
  text-decoration: none;
}


/* UTILITIES */

/* Flex */

.d-flex {
  display: flex;
}

.f-end {
  justify-content: flex-end;
}

.j-center {
  justify-content: center;
}

.align-start {
  align-content: flex-start;
}

.space-btw {
  justify-content: space-between;
}

.f-wrap {
  flex-wrap: wrap;
}

/* Colors */

.debug {
  background-color: deeppink;
}

.bg-black {
  background-color: #000;
}

.bg-darkgrey {
  background-color: #141414;
}

/* Containers */

.card {
  width: 190px;
  height: 115px;
  padding: 5px;
  position: relative;
}

/* Buttons */

.btn {
  background-color: #2C2C2C;
}

/* Icons */

.f-awesome::before {
  font-family: "Font Awesome 6 Free";
  font-weight: bold;
}

.grid::before {
  content: '\f00a'' '; /* icona sbagliata */ 
}

.maximize::before {
  content: '\f31e';
}

.microphone-slash::before {
  content: '\f131';
}






/* HEADER */

header a {
  margin: 5px 5px 0 0;
  padding: 5px;
  border-radius: 5px;  
}


/* MAIN */

.label {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 5px;
  left: 5px;
  padding: 4px;
}




/* FOOTER */